<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
       ">
       <context:component-scan base-package="com.yzy.rcs.controller,com.yzy.rcs.interceptor" ></context:component-scan>
         
       <!-- 
       		springmvc的注解驱动
        -->
       <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 配置二进制流解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置允许上传的文件最大的尺寸 -->
        <property name="maxUploadSize" value="10240000"></property>
        <!-- 设置文件上传过程中，中文的编码 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设置文件上传的保存目录 -->
        <property name="uploadTempDir" value="/upload"></property>
    </bean>

    <!-- 配置自定义拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!-- 不需要拦截的请求 -->
            <mvc:exclude-mapping path="/login.action"/>
            <!-- 引入拦截器 -->
            <ref bean="loginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>








</beans>