<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.rcs.mapper.LogMapper">

    <!-- 添加车辆信息 -->
    <insert id="addLog" parameterType="com.yzy.rcs.domain.Log">
        insert into log_login values (null,#{loginname},#{loginip},#{logintime})

    </insert>

</mapper>
